body {
    /*border-style: solid;*/
    font-family:Verdana;
    background-color: #C1C8E4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*grid-template-rows: 100px 1fr 100px;*/
    /*grid-template-columns: 1fr 50px 1fr;*/
    border-style: solid;
}

ul {
    padding-left: 0;
}

ul > ul {
    padding-left: 20pt;
    /*border-left: 10pt;*/
}
h1 {
    /*border-style: solid;*/
    /*border-color: #1afe49;*/
    width: 180px;
    font-size: 26px;
    text-align: center;


}

#taskbar {
    background-color: #84CEEB;
    /*position: fixed;*/
    display: flex;
    /*grid-template-columns: 80px 200px 80px;*/
    /*grid-row: 1/ span 1;*/
    flex-direction: row;
    border-radius: 0 0 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#listItems {
    width: 360px;
    height: available;
    /*grid-row: 2/span 1;*/
    flex-basis: 80%;
    color: black;
}

#bottom-bar {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 1fr;

}

.btn {
    background-color: #8860D0;
    color: black;
    text-align: center;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 12px;
}

.btn:hover {
    background-color: #666666;

}

#remove-btn {
    padding: 7px 7px;
    font-size: 20px;
    width: 60px;

}

#show-incomplete-btn {
    padding: 7px 7px;
    width: 60px;

}

#add-btn {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    font-size: 35px;
}

.categories {
    background-color: #5AB9EA;
    font-size: 32px;
    font-weight: normal;
    list-style-type: none;
    padding-left: 0;
    border-style: solid;
    /*border-radius: 8px;*/
    border-width: thin 0 thin 0;
    display: grid;
    grid-template-columns: 1fr 30px;
}

.tasks {
    font-size: 18px;
    background-color: #84CEEB;
    color: black;
    padding-left: 23px;
    display: grid;
    grid-template-columns: 1fr  30px 30px;
}

.task li {
    padding-left: 0;

}

.drop-down {
    border-radius: 12px;
    grid-column: 2/span 1;
    background-color: #8860D0;
    border: none;
}

.drop-down:hover {
    background-color: #00b3ff;
}

/*.tasks:hover {*/
/*    background-color: #1afe49;*/

/*}*/

.delete {
    border-radius: 12px;
    grid-column: 3/span 1;
    background-color: #8860D0;
    border: none;
}

.edit {
    border-radius: 12px;
    grid-column: 2/span 1;
    background-color: #8860D0;
    border: none;
}

.edit:hover {
    background-color: #00b3ff;
}

.delete:hover {
    background-color: #00b3ff;
}