body {
    max-height: 640px;
    max-width: 320px;
    font-family: Arial, sans-serif;
    background-color: #C1C8E4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

/* Styling for the task bar */
#taskbar {
    background-color: #84CEEB;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* To Do List heading */
h1 {
    font-family:Arial;
    font-size: 32px;
    font-weight: normal;
    width: 180px;
    text-align: center;
}

#tasks-to-complete-btn {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;

    padding: 7px 7px;
    width: 70px;
    height: 43px;

    border-radius: 12px;
}

#trash-btn {
    border-radius: 12px;
    padding: 7px 7px;
    font-size: 20px;
    width: 60px;
}