body {
    font-family:Arial, sans-serif;
    background-color: #C1C8E4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

/* Styling for the btn class which controls the style of
the "tasks-to-complete-btn", "trash-btn", and "add-btn"
 */

.btn {
    text-align: center;
    font-size: 12px;

    background-color: #84CEEB;
    border: none;
    color: black;

    padding: 12px 20px;
    border-radius: 12px;
}

.btn:hover {
    background-color: #666666;
}

/* Styling for the task bar */
#taskbar {
    background-color: #84CEEB;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tasks-to-complete-btn {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;

    padding: 7px 7px;
    width: 70px;
    height: 43px;

    border-radius: 12px;
}

/* To Do List heading */
h1 {
    font-family:Arial,sans-serif;
    font-size: 32px;
    font-weight: normal;
    width: 180px;
    text-align: center;
}

#trash-btn {
    border-radius: 12px;
    padding: 7px 7px;
    font-size: 20px;
    width: 60px;
}

/* Styling for the list items */
#list-items {
    color: black;
    flex-basis: 80%;
    width: 360px;
    height: available;
}

ul {
    padding-left: 0;
}

/* Categories of items (Personal, Work, Academic) */
.categories {
    font-family:Arial,sans-serif;
    font-size: 28px;
    font-weight: normal;
    background-color: #5AB9EA;
    list-style-type: none;
    padding-left: 10px;
    border-style: solid;
    border-width: thin 0 thin 0;
    display: grid;
    grid-template-columns: 1fr 30px;
}
/* Drop-Down button for expanding and collapsing list items */
.drop-down-btn {
    border-radius: 12px;
    grid-column: 2/span 1;
    background-color: #5AB9EA;
    border: none;
    font-size: 20px;
}

.drop-down-btn:hover {
    background-color: #666666;
}

/* Positioning tasks */
ul > ul {
    padding-left: 20pt;
}

.tasks {
    font-size: 20px;
    background-color: #84CEEB;
    color: black;
    padding-left: 23px;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
}

.tasks:nth-of-type(even) {
    background-color: #5AB9EA;
}

/* line-through for completed taks */
.completed{
    text-decoration:line-through;
    text-decoration-thickness: 2px;
}

/* Edit/Pencil and Paper button */
.edit-btn {
    border-radius: 12px;
    grid-column: 2/span 1;
    border: none;
}

.edit-btn:hover {
    background-color: #666666;
}

/* Check mark button */
.completed-btn {
    border-radius: 12px;
    grid-column: 3/span 1;
    border: none;
    font-weight: 100;
}

.completed-btn:hover {
    background-color: #666666;
}

/* Background color of edit and check mark button */
.even-btn {
    background-color: #5AB9EA;
}

.odd-btn {
    background-color: #84CEEB; ;
}

/* Styling for the bottom bar*/
#bottom-bar {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 1fr;
}

#add-btn {
    font-size: 28px;
    background-color: #C1C8E4;

    grid-column: 2/span 1;
    grid-row: 1/span 1;

    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-btn:hover {
    background: #666666;
}






