/* Styling for the bottom bar */
#bottom-bar {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-rows: 1fr;
    flex-grow: 1;
    flex-basis: 10%;
}

/* Styling for the New Folder Button */
#add-btn {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #84CEEB;

    grid-column: 2/span 1;
    grid-row: 1/span 1;

    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-btn:hover {
    background: #666666;
}