/* Categories of items (Personal, Work, Academic, etc. ) */
.folder {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    background-color: #5AB9EA;
    list-style-type: none;
    padding-left: 0px;
    border-style: solid;
    border-width: thin 0 thin 0;
    display: grid;
    grid-template-columns: 30px 1fr  30px 30px 30px 30px;
    grid-template-rows: 30px 1fr;

}

.folder-space {
    padding-bottom:10px;
    padding-top:10px;
}

/* Styling for the folder name text */
.folderName {
    word-break: break-all;
}

/* Styling of form when we edit a folder */
#edit-folder-input {
    font-size: 28px;
    height: 32px;
    background-color: #84CEEB;
    padding: 0;
    border: none;
    outline: none;
}

/* Styling of the sort folder button */
.sort-folder-btn {
    border-radius: 20px;
    grid-column: 1/span 1;
    border: none;
    background-color: #5AB9EA;
    grid-row: 1/span 1;
}

.sort-folder-btn:hover {
    background-color: #666666;
}

/* Styling of edit folder button */
.edit-folder-btn {
    border-radius: 20px;
    grid-column: 4/span 1;
    grid-row: 1/span 1;
    border: none;
    background-color: #5AB9EA;
}

.edit-folder-btn:hover {
    background-color: #666666;
}

/* Styling of edit folder button */
.delete-folder-btn {
    border-radius: 20px;
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    border: none;
    background-color: #5AB9EA;
}

.delete-folder-btn:hover {
    background-color: #666666;
}

/* Styling of new-task button */
.new-task {
    border-radius: 12px;
    grid-column: 5/span 1;
    grid-row: 1/span 1;
    background-color: #5AB9EA;
    border: none;
    font-size: 20px;
}

.new-task:hover {
    background-color: #666666;
}

/* Styling of drop-down button */
.drop-down-btn {
    border-radius: 12px;
    grid-column: 6/span 1;
    grid-row: 1/span 1;
    background-color: #5AB9EA;
    border: none;
    font-size: 20px;
}

.drop-down-btn:hover {
    background-color: #666666;
}

ul {
    padding-left: 0;
}

.task-container {
    padding: 0px;
    grid-column: 1/span 5;
    grid-row: 2/span 1;

}