/* Styling for the task bar */
#taskbar {
    max-height: 75px;
    background-color: #84CEEB;
    gap: 20px;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* To Do List heading */
h1 {
    font-family:Arial;
    font-size: 32px;
    font-weight: normal;
    width: 180px;
    text-align: center;
}

.btn {
    text-align: center;
    font-size: 12px;

    background-color: #84CEEB;
    border: none;
    color: black;

    padding: 12px 20px;
    border-radius: 12px;
}

.btn:hover {
    background-color: #666666;
}

#tasks-to-complete-btn {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;

    padding: 7px 7px;
    width: 70px;
    height: 43px;

    border-radius: 12px;
}

#trash-btn {
    border-radius: 12px;
    padding: 7px 7px;
    font-size: 20px;
    width: 60px;
}