/* Positioning tasks */
.tasks {
    text-overflow: clip;
    font-size: 20px;
    background-color: #84CEEB;
    color: black;
    padding-left: 23px;
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
}

/* Styling for task name*/
.taskName {
    max-width: 227px;
    word-break: break-all;
}

/* line-through for completed task */
.completed{
    text-decoration:line-through;
    text-decoration-thickness: 2px;
}

/* Edit/Pencil and Paper button */
.edit-btn {
    border-radius: 12px;
    grid-column: 2/span 1;
    border: none;
    background-color: #84CEEB;

}

.edit-btn:hover {
    background-color: #666666;
}

/* Styling of form when we edit a task */
#edit-task-input {
    font-size: 20px;
    width: 226px;
    height: 23px;
    grid-column: 1/span 1;
    background-color: #5AB9EA;
    padding: 0;
    border: none;
    outline: none;
}

/* Check mark button */
.completed-btn {
    border-radius: 12px;
    grid-column: 3/span 1;
    border: none;
    font-weight: 100;
    background-color: #84CEEB;

}

.completed-btn:hover {
    background-color: #666666;
}
